{{>navBar}}


{{!-- About --}}
<div class="about">
    <div class="text-center">
        <h1>Know US!</h1>
    </div>
    <div class="about-container text-center mt-2 h-100">
        <div class="container pb-5 pt-5">
            <div class="row pt-5 pb-5">
                <div class="col">
                    <div class="transparente text-light h-auto w-100">
                        <div class="card-header bg-transparent border-transparent">
                            <h4 class="text-white">Vission</h4>
                        </div>
                        <div class="pb-3 pt-3 text-justify">
                            <div class="pl-3 pr-3">
                                <p>Somos una empresa dedicada a brindar servicios tecnolo gicos que van mas alla Lorem
                                    ipsum
                                    dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra
                                    nec,
                                    mattis ac neque. Duis vulputate </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="transparente text-light h-auto w-100">
                        <div class="card-header bg-transparent border-transparent">
                            <h4 class="text-white">Mission</h4>
                        </div>
                        <div class="pb-3 pt-3 text-justify">
                            <div class="pl-3 pr-3">
                                <p>Somos una empresa dedicada a brindar servicios tecnolo gicos que van mas alla Lorem
                                    ipsum
                                    dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra
                                    nec,
                                    mattis ac neque. Duis vulputate </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12">
                    <div class="transparente text-white h-auto w-100">
                        <div class="card-header border-transparent">
                            <h4 class="text-white">Values</h4>
                        </div>
                        <div class="pb-3 pt-3">
                            <div class="pl-3 pr-3 d-flex justify-content-center">
                                <h5 class=" mr-5 text-white">Item</h5>
                                <h5 class=" mr-5 text-white">Item</h5>
                                <h5 class=" mr-5 text-white">Item</h5>
                                <h5 class=" mr-5 text-white">Item</h5>
                                <h5 class=" mr-5 text-white">Item</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}