{{>navBar}}


{{!-- About --}}
<div class="about mb-5">
    <div class="text-center">
        <h1 class="bigTittle">Know US!</h1>
    </div>
    <div class="about-container text-center mt-2">
        <div class="container pb-5 pt-5">
            <div class="row pt-5 pb-5 mt-3">
                <div class="col">
                    <div class="transparente text-light w-100">
                        <div class="card-header bg-transparent border-transparent">
                            <h4 class="text-white">Vission</h4>
                        </div>
                        <div class="pb-3 pt-3 text-justify ">
                            <div class="pl-5 pr-5">
                                <p>Somos una empresa dedicada a brindar servicios tecnolo gicos que van mas alla Lorem
                                    ipsum
                                    dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra
                                    nec,
                                    mattis ac neque. Duis vulputate </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="transparente text-light w-100">
                        <div class="card-header bg-transparent border-transparent">
                            <h4 class="text-white">Mission</h4>
                        </div>
                        <div class="pb-3 pt-3 text-justify">
                            <div class="pl-5 pr-5">
                                <p>Somos una empresa dedicada a brindar servicios tecnolo gicos que van mas alla Lorem
                                    ipsum
                                    dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra
                                    nec,
                                    mattis ac neque. Duis vulputate </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <div class="transparente text-white h-auto w-100">
                        <div class="card-header border-transparent">
                            <h4 class="text-white">Our Values</h4>
                        </div>
                        <div class="pb-3 pt-3">
                            <div class="pl-3 pr-3 d-flex justify-content-center">
                                <h5 class=" mr-5 text-white">Item</h5>
                                <h5 class=" mr-5 text-white">Item</h5>
                                <h5 class=" mr-5 text-white">Item</h5>
                                <h5 class=" mr-5 text-white">Item</h5>
                                <h5 class=" mr-5 text-white">Item</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Services --}}
<div class="services mb-5 text-center">
    <div>
        <h1 class="bigTittle">Services</h1>
    </div>
    <div class="text-left">
        <div class="container pb-5 ">
            <div class="row pt-5 pb-5 mt-3 justify-content-center align-items-center">
                <div class="col">
                    <h1>Una frase dura que caracterice el producto, no bulto!</h1>
                    <span>Supporting statement for your product's primary tagline. Aqui va pila de baba sobre eso mismo,
                        ustedes saben no se hagan.</span>
                    <div class="mt-2">
                        <button class="btn btn-dark">Learn More!</button>
                    </div>
                </div>
                <div class="col">
                    <iframe class="rounded w-100" height="315" src="https://www.youtube.com/embed/cVEemOmHw9Y"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="row pt-5 mt-3 justify-content-center align-items-center">
                <div class="col">
                    <div class="text-center">
                        <img class="w-25" src="/assets/images/computadora.png" alt="">

                        <h3 class="text-center mb-3 mt-3 text-capitalize">Service</h3>
                        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus veritatis repellendus est
                            inventore at amet illum eius necessitatibus perspiciatis, sint dicta, praesentium animi
                            laborum
                            blanditiis quisquam nam dolorem nisi placeat.</p>
                        <button class="btn btn-dark btn-block rounded">More</button>

                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <img class="w-25" src="/assets/images/computadora.png" alt="">

                        <h3 class="text-center mb-3 mt-3 text-capitalize">Service</h3>
                        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus veritatis repellendus est
                            inventore at amet illum eius necessitatibus perspiciatis, sint dicta, praesentium animi
                            laborum
                            blanditiis quisquam nam dolorem nisi placeat.</p>
                        <button class="btn btn-dark btn-block rounded">More</button>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <img class="w-25" src="/assets/images/computadora.png" alt="">

                        <h3 class="text-center mb-3 mt-3 text-capitalize">Service</h3>
                        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus veritatis repellendus est
                            inventore at amet illum eius necessitatibus perspiciatis, sint dicta, praesentium animi
                            laborum
                            blanditiis quisquam nam dolorem nisi placeat.</p>
                        <button class="btn btn-dark btn-block rounded">More</button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<hr class="mb-5">

{{!-- Clientes --}}
<div class="services mb-5 text-center">
    <div>
        <h1 class="bigTittle">Clients</h1>
    </div>
    <div class="text-center">
        <div class="container pb-5 ">
            <div class="row pt-5 pb-5justify-content-center align-items-center">
                <div class="col">
                    <p class="font-weight-">Trusted by 10,000 customers worldwide</p>
                </div>
            </div>
            <div class="row pb-5 justify-content-center align-items-center">
                <div class="col">
                    <div class="text-center">
                        <img class="w-75" src="/assets/images/imagen.png" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <img class="w-75" src="/assets/images/imagen.png" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <img class="w-75" src="/assets/images/imagen.png" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <img class="w-75" src="/assets/images/imagen.png" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <img class="w-75" src="/assets/images/imagen.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{{>footer}}