{{>navBar}}
<br />
<br />
{{!-- Home --}}
<section id="home">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/assets/images/slide1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/assets/images/slide2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/assets/images/slide4.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<br />
<br />
<br />


{{!-- About --}}
<section id="nosotros">
    <div class="about mb-5">
        <div class="text-center">
            <h1 class="bigTittle">Know US!</h1>
        </div>
        <div class="about-container text-center mt-3">
            <div class="container pb-5 pt-5">
                <div class="row pt-5 pb-5 mt-5">
                    <div class="col">
                        <div class="transparente text-light w-100">
                            <div class="card-header bg-transparent border-transparent">
                                <h4 class="text-white">Vission</h4>
                            </div>
                            <div class="pb-3 pt-3 text-justify ">
                                <div class="pl-5 pr-5">
                                    <p>To be a company that provides great contributions to the technological
                                        development of the country and to be a means of new opportunities in the
                                        area and the labor market. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="transparente text-light w-100">
                            <div class="card-header bg-transparent border-transparent">
                                <h4 class="text-white">Mission</h4>
                            </div>
                            <div class="pb-3 pt-3 text-justify">
                                <div class="pl-5 pr-5">
                                    <p>Provide high quality technology services that provide an unforgettable
                                        experience to our clients. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                        <div class="transparente text-white h-auto w-100">
                            <div class="card-header border-transparent">
                                <h4 class="text-white">Our Values</h4>
                            </div>
                            <div class="pb-3 pt-3">
                                <div class="pl-3 pr-3 d-flex justify-content-center">
                                    <h5 class=" mr-5 text-white">Responsibility</h5>
                                    <h5 class=" mr-5 text-white">Commitment</h5>
                                    <h5 class=" mr-5 text-white">Innovation</h5>
                                    <h5 class=" mr-5 text-white">Honesty</h5>
                                    <h5 class=" mr-5 text-white">Vocation</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

{{!-- Services --}}
<section id="servicios">
    <div class="services mb-5 text-center">
        <div>
            <h1 class="bigTittle">Services</h1>
        </div>
        <div class="text-left">
            <div class="container pb-5 ">
                <div class="row pt-5 pb-1 mt-3 justify-content-center align-items-center">
                    <div class="col">
                        <h1>Una frase dura que caracterice el producto, no bulto!</h1>
                        <span>Supporting statement for your product's primary tagline. Aqui va pila de baba sobre eso
                            mismo,
                            ustedes saben no se hagan.</span>
                        <div class="mt-2">
                            <button class="btn btn-dark">Learn More!</button>
                        </div>
                    </div>
                    <div class="col">
                        <iframe class="rounded w-100" height="315" src="https://www.youtube.com/watch?v=IbWOQWw1wkM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="row pt-5 mt-3 justify-content-center align-items-center">
                    <div class="col">
                        <div class="text-center">
                            <img class="w-25" src="/assets/images/computadora.png" alt="">

                            <h3 class="text-center mb-3 mt-3 text-capitalize">Software Development</h3>
                            <p>Web page design | Mobile application development | Web application development | Desktop
                                application development | and more...</p>
                            <button class="btn btn-dark btn-block rounded">More</button>

                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img class="w-25" src="/assets/images/grafico.png" alt="">

                            <h3 class="text-center mb-3 mt-3 text-capitalize">Graphic Design</h3>
                            <p> Logos creating | Banners design | Magazines | Posters | Bussiness cards | Sketches |
                                Layouts for books | and more...</p>
                            <button class="btn btn-dark btn-block rounded">More</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img class="w-25" src="/assets/images/share.png" alt="">

                            <h3 class="text-center mb-3 mt-3 text-capitalize">Comunity Management</h3>
                            <p> Creation and management of online communities | Brand image management | Social networks
                                in general | and more...</p>
                            <button class="btn btn-dark btn-block rounded">More</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<hr class="mb-5">

{{!-- Clientes --}}
<section id="clientes">
    <div class="services mb-5 text-center">
        <div>
            <h1 class="bigTittle">Clients</h1>
        </div>
        <div class="text-center">
            <div class="container pb-5 ">
                <div class="row pt-5 pb-5justify-content-center align-items-center">
                    <div class="col">
                        <p class="font-weight-">Trusted by 10,000 customers worldwide</p>
                    </div>
                </div>
                <div class="row pb-5 justify-content-center align-items-center">
                    <div class="col">
                        <div class="text-center">
                            <img class="w-75" src="/assets/images/imagen.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img class="w-75" src="/assets/images/imagen.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img class="w-75" src="/assets/images/imagen.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img class="w-75" src="/assets/images/imagen.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img class="w-75" src="/assets/images/imagen.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{{>footer}}