<div class="card text-center">
  <div class="card-header">
    <h5 class="pt-3">TDS | DO</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">Síguenos en nuestras redes sociales</h5>
    <div class="ml-5">
      	<a href="https://www.facebook.com/Tech-Dominican-Services-100196504968910/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/techdomservices/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
  <div class="card-footer text-muted">
    Copyright © <script>document.write(new Date().getFullYear())</script> Tech Dominican Services. Todos los derechos reservados.
  </div>
</div>