<div class="card text-center">
  <div class="card-header">
    TDS | DO
  </div>
  <div class="card-body">
    <h5 class="card-title">Nuestras redes sociales</h5>
    <div class="ml-4">
      	<a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
  <div class="card-footer text-muted">
    Copyright © <script>document.write(new Date().getFullYear())</script> Tech Dominican Services. Todos los derechos reservados.
  </div>
</div>