 *{
     margin: 0px;
 }
 .about-container{
    background-image: url(assets/images/equipo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
} 
.transparente{
    height: 15rem;
    border-radius: 20px;
    color:rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.575);
}  
.bigTittle{
    font-size: 50pt;
}
.transparente p{
    font-size: large;
}
