 *{
     margin: 0px;
 }

 .about-container{
    background-image: url(assets/images/equipo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
  
 
} 
.transparente{
    height: 15rem;
    border-radius: 20px;
    color:rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.575);
}  
.bigTittle{
    font-size: 50pt;
}
.transparente p{
    font-size: large;
}

.bgTransparante{
    background-color: transparent;
}

.fa{
    font-size: 32px !important;
    letter-spacing: 35px;
}
.navbar{
   padding: 0.5rem 1rem !important;
}

@media only screen and (max-width: 768px) {
    .navbar-brand{
        font-size: medium !important;
    }
    .bigTittle{
        font-size: 30pt;
    }
    .nosotros{
        margin-top: auto;
    }
    .about-container{
        height: 38rem;
         
    }
    
    .transparente{
        height: 15rem;
        /* width: 15rem; */
    }
    
    .transparente h4{
       font-size: 14pt;
    }
    .transparente h5{
       font-size: 8pt;

    }
   
    .transparente p{
        font-size: 8pt;
     }
     .nosotros col {
         width: 350px;;
     } 
     #servicios h2{
         font-size: 14pt;
     }
     #servicios h3{
        font-size: 12pt;
    }
    
   
}

 section{
    overflow: hidden;
} 
